<!DOCTYPE html>
<html ng-app="parseQ">
<head>
	<title>Parse Queue</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller='MainController'>
	
<form>
	<input type="text" placeholder="What is your question?" ng-model="question">
	<button class="button" ng-click="postData()">Submit Question</button>
</form>

<div class="question-container">
  <p ng-repeat="question in questions"> {{question.text}} </p>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/MainController.js"></script>
<script src="js/parseService.js"></script>
<script src="js/defaultHeaders.js"></script>
</body>
</html>